.main {
  height: 100vh;
  display: grid;
  grid-template-rows: 170px auto 100px;
}
.wel {
  font-size: 35px;
  color: white;
  display: flex;
  justify-content: center;
  gap: 90px;
  /* text-align: center; */
}
.cart {
  font-size: 40px;
  color: burlywood;
  padding: 10px;
}
/* .last {
  display: inline;
  justify-content: end;
}
.picture {
  height: 200px;
  width: 100px;
  border-radius: 300px;
} */

nav {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 50px;
}
nav a {
  text-decoration: none;
  color: white;
  font-size: 23px;
}

.a {
  background-color: green;
  padding: 20px;
}

.b {
  background-color: pink;
  padding-bottom: 20px;
}
.section-a {
  background-color: gold;
  color: rgb(38, 9, 165);
  font-size: 16px;
  border-radius: 15px;
  margin: 30px;
  padding: 10px;
  display: flex;
  gap: 20px;
}
.int {
  font-size: 40px;
  color: brown;
  font-weight: bold;
}

.photo {
  margin: 15px;
  width: 550px;
  border-radius: 15px;
}

.menu {
  background-color: darkolivegreen;
  margin: 30px;
  padding: 20px;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 10px;
}
.box1 {
  background-color: wheat;
  padding: 15px;
  margin: 15px;
  border-radius: 15px;
  font-size: 30px;
  font-weight: bold;
}
.box1 p {
  font-size: 20px;
  color: brown;
  font-weight: normal;
}
.box1 a {
  text-decoration: none;

  color: snow;
  padding: 3px;
}
.box1 button {
  background-color: magenta;
  width: 100px;
  padding: 5px;
  margin: 5px;
  border-radius: 60px;
}
/* .box1 {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.box1 button :hover {
  background-color: rgb(214, 214, 230);
  color: black;
  /* width: 300px; */
  padding: 5px;
  margin: 5px;
}
.c {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.c a {
  text-decoration: none;
  color: antiquewhite;
}
.c a :hover {
  color: brown;
  background-color: white;
  padding: 5px;
}
/* @media (min-width: 20px) {
  .main {
    display: flex;
    flex-direction: column;
  }
} */
