* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100%;
  background: url(./lpbg.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 80vh auto;

  color: white;
}

.child {
  text-align: center;
  padding: 20px 0;
  font-size: 20px;
}

.child-1 {
  grid-column: 1/4;
  padding: 0px;
  margin: 0px;
}

.child-2 {
  display: flex;
  flex-direction: column;
  justify-content: left;
  row-gap: 50px;
}

.child-3 {
  grid-column: 1/4;
  padding: 0px;
}

.header {
  display: flex;
  justify-content: space-between;
  color: white;
  text-align: center;
  padding: 40px;
  background-color: #ffffff11;
  border-radius: 0px 0px 0px 30px;
}

.hbox {
  font-size: 50px;
  font-weight: 600;
  font-family: 'Open Sans', 'Roboto', sans-serif;
}

nav a {
  color: #ffffff;
  font-size: 25px;
  padding: 20px;
  text-decoration: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

nav a:hover {
  text-decoration: underline;
}

nav {
  padding: 10px;
}

.mbox {
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.sub-mbox {
  text-align: center;
}
.span-1 {
  font-size: 40px;
}
.span-2 {
  font-size: 50px;
  color: aqua;
  font-weight: 500;
  font-family: 'Lexended Giga', sans-serif;
  text-shadow: 2px 2px 4px aqua;
}
.span-3 {
  color: aqua;
  text-shadow: 1px 1px 1px aqua;
}

.span-sec {
  line-height: 1.5;
  margin-bottom: 25px;
}

.intro {
  font-size: 25px;
  font-family: 'Noto Sans', sans-serif;
}

.mbox {
  text-align: left;
  line-height: 1.3;
}

.tech {
  font-size: 18px;
}

.pro {
  margin-top: 25px;
  font-size: 18px;
}

.blog {
  margin-top: 25px;
  font-size: 18px;
}

.tech-height {
  line-height: 1.5;
  margin-top: 15px;
}

.grid-container {
  padding-left: 165px;
  padding-right: 165px;
  margin-top: 50px;
}

.grid-subcontainer {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 25px;
}

.grid-1 {
  background-color: #ffffff11;
  backdrop-filter: blur(10px);
  padding: 15px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid white;
  border-radius: 30px;
}

.grid-2 {
  background-color: #ffffff11;
  backdrop-filter: blur(10px);
  padding: 15px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid white;
  border-radius: 30px;
}

.grid-3 {
  background-color: #ffffff11;
  backdrop-filter: blur(10px);
  padding: 15px;
  color: white;
  font-size: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Roboto Condensed', sans-serif;
  border: 1px solid white;
  border-radius: 30px;
}

.t-button {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  border: 1px solid aqua;
  padding: 10px 20px;
  border-radius: 50px 50px;
  background: rgba(0, 0, 0, 0.2);
}

.t-button:hover {
  background-color: aqua;
  color: black;
}

.p-button {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  border: 1px solid aqua;
  padding: 10px 20px;
  border-radius: 50px 50px;
  background: rgba(0, 0, 0, 0.2);
}

.p-button:hover {
  background-color: aqua;
  color: black;
}

.b-button {
  text-decoration: none;
  color: white;
  margin-top: 20px;
  border: 1px solid aqua;
  padding: 10px 20px;
  border-radius: 50px 50px;
  background: rgba(0, 0, 0, 0.2);
}

.b-button:hover {
  background-color: aqua;
  color: black;
}
.section {
  display: flex;
  flex-direction: column;
}
footer {
  background-color: #ffffff2f;
  margin-top: 100px;
  padding: 35px;
  border-radius: 20px 0px 0px 0px;
}
img {
  width: 30px;
}

.mid {
  text-align: center;
  background-color: #ffffff11;
  padding: 40px;
  margin-top: 100px;
  margin-bottom: 0px;
  font-family: 'Open Sans', sans-serif;
}

@media (max-width: 600px) {
  .grid-container {
    margin: 15px;
    margin-top: 25px;
  }
  .mbox {
    padding: 15px;
  }

  .header {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    line-height: 1.7;
    padding-top: 10px;
  }

  .parent {
    row-gap: 20px;
  }
  .one {
    font-size: 20px;
    padding: 10px;
  }

  .hbox {
    font-size: 35px;
    font-weight: 300;
  }

  .child-2 {
    row-gap: 20px;
  }

  .intro {
    font-size: 1.2rem;
  }

  .span-1 {
    font-size: 2rem;
  }
  .span-2 {
    font-size: 2.5rem;
  }
  footer {
    padding: 10px;
    font-size: 17px;
  }
}

@media (max-width: 1100px) {
  .grid-container {
    padding-left: 0px;
    padding-right: 0px;
  }
}
